{# @prop href string URL for the brand link #}
{# @block content The brand content (text, image, etc.) #}
{%- props
    href = null
-%}

{% if href %}
<a class="navbar-brand {{ attributes.render('class') }}" href="{{ href }}" {{ attributes }}>
    {%- block content %}{% endblock -%}
</a>
{% else %}
<span class="navbar-brand {{ attributes.render('class') }}" {{ attributes }}>
    {%- block content %}{% endblock -%}
</span>
{% endif %}
