{# @prop label string The form field label #}
{# @prop help string Help text displayed below the input #}
{# @prop error string Error message (displays with validation styling) #}
{# @prop required boolean Whether the field is required #}
{# @prop for string The id of the input this label is for #}
{# @block label Optional custom label content #}
{# @block control The form control (input, select, textarea, etc.) #}
{# @block help Optional custom help text #}
{%- props 
    label = null,
    help = null,
    error = null,
    required = false,
    for = null
-%}

<div class="mb-3 {{ attributes.render('class') }}" {{ attributes }}>
    {% if label or block('label') is defined %}
    <label 
        {% if for %}for="{{ for }}"{% endif %}
        class="form-label"
    >
        {% if block('label') is defined %}
            {%- block label %}{% endblock -%}
        {% else %}
            {{ label }}{% if required %} <span class="text-danger">*</span>{% endif %}
        {% endif %}
    </label>
    {% endif %}
    
    {%- block control %}{% endblock -%}
    
    {% if error %}
        <div class="invalid-feedback d-block">
            {{ error }}
        </div>
    {% elseif help %}
        <div class="form-text">
            {{ help }}
        </div>
    {% endif %}
    
    {% if block('help') is defined %}
        <div class="form-text">
            {%- block help %}{% endblock -%}
        </div>
    {% endif %}
</div>
