{# @prop value integer The progress percentage (0-max). Defaults to `0` #}
{# @prop max integer The maximum value. Defaults to `100` #}
{# @prop variant 'primary'|'secondary'|'success'|'danger'|'warning'|'info'|'light'|'dark' The progress bar color. Defaults to `primary` #}
{# @prop striped boolean Whether to show stripes #}
{# @prop animated boolean Whether to animate the stripes #}
{# @prop label boolean Whether to show the progress label #}
{%- props 
    value = 0,
    max = 100,
    variant = 'primary',
    striped = false,
    animated = false,
    label = false
-%}

<div
    class="progress {{ attributes.render('class') }}"
    {{ attributes }}
>
    <div
        class="progress-bar bg-{{ variant }}{% if striped %} progress-bar-striped{% endif %}{% if animated %} progress-bar-animated{% endif %}"
        role="progressbar"
        style="width: {{ (value / max * 100)|round }}%"
        aria-valuenow="{{ value }}"
        aria-valuemin="0"
        aria-valuemax="{{ max }}"
    >
        {%- block content %}{% if label %}{{ value }}%{% endif %}{% endblock -%}
    </div>
</div>
