{# @prop value integer The progress percentage (0-max). Defaults to `0` #}
{# @prop max integer The maximum value. Defaults to `100` #}
{# @prop variant 'primary'|'secondary'|'success'|'danger'|'warning'|'info'|'light'|'dark' The progress bar color. Defaults to `primary` #}
{# @prop striped boolean Whether to show stripes #}
{# @prop animated boolean Whether to animate the stripes #}
{# @prop label boolean Whether to show the progress label #}
{%- props 
    value = 0,
    max = 100,
    variant = 'primary',
    striped = false,
    animated = false,
    label = false
-%}

{%- set style = html_cva(
	base: 'progress-bar',
	variants: {
		variant: {
			primary: 'bg-primary',
			secondary: 'bg-secondary',
			success: 'bg-success',
			danger: 'bg-danger',
			warning: 'bg-warning',
			info: 'bg-info',
			light: 'bg-light',
			dark: 'bg-dark',
		},
        striped: {
            true: 'progress-bar-striped',
        },
        animated: {
            true: 'progress-bar-animated',
        },
	},
) -%}

<div class="progress {{ attributes.render('class') }}" {{ attributes }}>
    <div
        class="{{ style.apply({variant, striped, animated}, attributes.render('class')) }}"
        role="progressbar"
        style="width: {{ (value / max * 100)|round }}%"
        aria-valuenow="{{ value }}"
        aria-valuemin="0"
        aria-valuemax="{{ max }}"
    >
        {%- block content %}{% if label %}{{ value }}%{% endif %}{% endblock -%}
    </div>
</div>
